<div class="col">
  <input #termino type="text" (keydown)="capturar($event, termino.value)" class="form-control" placeholder="Buscar artículo">
  <button class="btn btnStyle my-2 my-sm-0" type="submit" (click)="buscar(termino.value)"><img src="assets/img/search.png" width="25px" height="25px"></button>
</div>

<div *ngIf="articulos.length>0" class="card-columns">
  <div *ngFor="let articulo of articulos | paginate: {itemsPerPage:50, currentPage: p, totalItems: totalResults}" class="card">
    <img [src]="articulo.thumbnail" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-title">{{articulo.title}}</p>
      <h6 class="card-text">{{articulo.price | currency:'COP':'symbol-narrow'}}</h6>
      <hr style="height: 1px;
      margin-left: 10%;
      margin-right: 10%;
      background-color: rgb(187, 187, 187)">
      <div class="seller">
        <p class="card-text">{{articulo.sellerName}}</p>
        <p class="card-text">ID: {{articulo.seller.id}}</p>
      </div>  
    </div>
  </div>
</div>
<div *ngIf="articulos.length === 0 && flag" class="card-columns ">
  <p class="notFound">El artículo no fue encontrado</p>
</div>
<pagination-controls  (pageChange)="p = $event; adelante($event)"></pagination-controls>