/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(241, 235, 235);
    color: white !important;
}

hr {
    border-color: white;
}

.card-img-top{
    float: right;
    width: 50% !important;
}

.sellerName{
    margin-bottom: 0 !important;
}
.btnStyle{
    color: rgb(15, 39, 105);
    border-color: rgb(15, 39, 105);
    margin-left: 0.5rem;
    height: 37px;
}

.btnStyle:hover{
    background-color: rgb(15, 39, 105);;
}

.col {
    display: inline-flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.color {
    background-color: #fff159;
    padding: 20px;
}

.notFound{
    color: teal;
    margin: 2rem;
}

.title{
    margin: auto;
    color: rgb(15, 39, 105);
}

.puntero {
    cursor: pointer;
}

.img-circle {
    border-radius: 100%;
    width: 150px;
}

.card-title,
.card-text {
    color: black;
}

.badge {
    margin-left: 5px;
}

.btn-outline-success {
    margin-left: 5px;
}

.img-thumb {
    width: 50px;
    height: 50px;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}